@import "tailwindcss";
@tailwind utilities;

html[lang="en"] {
  font-family: var(--font-nunito);
}

html[lang="ko"] {
  font-family: var(--font-noto);
}

html[lang="ko"] :lang(en) {
  font-family: var(--font-nunito);
}

html,
body {
  background-image: url("/images/Bg-gentle.png");
  /* background-image: url("/images/Bg-rough.png"); */
  /* background-image: url("/images/Bg-semi.png"); */
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  --bg-color: #edebeb;
}

#__next {
  min-height: 100vh;
}
